<!DOCTYPE html>
<html lang="{{ site.lang | default: 'de' }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="preload" href="/fonts/literata-v40-greek_greek-ext-latin-latin-ext-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/ibm-plex-sans-v23-greek-latin-latin-ext-700.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="{{ "/assets/css/linktree.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="icon" type="image/png" href="{{ '/assets/img/favicon/favicon-96x96.png' | relative_url }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/img/favicon/favicon.svg' | relative_url }}" />
    <link rel="shortcut icon" href="{{ '/assets/img/favicon/favicon.ico' | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicon/apple-touch-icon.png' | relative_url }}" />
    <link rel="manifest" href="{{ '/assets/img/favicon/site.webmanifest' | relative_url }}" />

</head>

<body>
    <div class="container">
        <div class="content-wrapper">

            <header>
                <a href="{{ "/" | relative_url }}" class="back-home">← Zurück zur Übersicht</a>

                {% if site.logo %}
                    <a href="{{ "/" | relative_url }}">
                        <img src="{{ site.logo | relative_url }}" alt="Logo" class="profile-pic" style="width: 70px; height: 70px; margin: 0 auto;">
                    </a>
                {% endif %}

                <div class="global-title">
                    <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
                </div>
            </header>

            <main class="content-body" role="main">
                {{ content }}
            </main>

            <footer>
                <nav>
                    <a href="{{ "/" | relative_url }}">Home</a>
                    <span class="separator">·</span>
                    <a href="{{ "/github" | relative_url }}">GitHub</a>
                    <span class="separator">·</span>
                    <a href="{{ "/impressum" | relative_url }}">Impressum</a>
                </nav>
            </footer>

        </div>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
